{% extends 'base.html' %}

{% block title %}Просмотр курсов валют{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Загрузка курсов валют</h2>
    <div class="mb-3">
        <label for="urlInput" class="form-label">URL JSON файла:</label>
        <input type="text" class="form-control" id="urlInput" placeholder="Введите URL">
    </div>
    <button onclick="fetchData()" class="btn btn-primary">Загрузить данные</button>
    <p class="mt-3" id="responseText"></p>
</div>

<script>
function fetchData() {
    var url = $('#urlInput').val();
    $.ajax({
        type: 'POST',
        url: '/fetch_currency_data',  // Убедитесь, что URL зарегистрирован в urls.py
        data: {
            'url': url,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            $('#responseText').text(response.message);
            $('#responseText').addClass('text-success');
        },
        error: function(response) {
            $('#responseText').text(response.responseJSON.message);
            $('#responseText').addClass('text-danger');
        }
    });
}
</script>
{% endblock %}

